<div id="homePage">
  <h1 class="addobs"> Add an observation </h1>
  <div class="homeBody">
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" routerLink="">Home</button>

      <button routerLink="/listobservations" type="button" class="btn btn-secondary">Observations</button>

      <button routerLink="/new_observation" type="button" class="btn btn-secondary">Add new Observation</button>
      <button type="button" class="btn btn-secondary" routerLink="/all_experts">Contact</button>
    </div>
  </div>

  <p></p>
  <br>
  <br>
  <p></p>

  <section id="addobsform">
    <form  [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div>
        <form #ngForm="ngForm">
          <div>


            <div style="margin-left: 65px">
              <input type="file" name="birdPicture" (change)="onFileSelected($event)"/>
            </div><br>


            <p>
              <label> Commun Name :
                <input class="form-control" placeholder="Enter the Commun Name" style="border-color: #6AA84F; width:250px ;" type="text" [(ngModel)]="observation.vulgarName"
                       [ngModelOptions]="{standalone: true}" name="vulgarName"
                       onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>
              </label>
            </p>
            <p>
              <label> Genre :
                <input class="form-control" placeholder="Enter the scientific gender name" style="border-color: #6AA84F; width:250px ;" type="text" [(ngModel)]="observation.genre"
                       [ngModelOptions]="{standalone: true}" name="genre"
                       onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>
              </label>
            </p>
            <p>
              <label> Species :
                <input class="form-control" placeholder="Enter the scientific species name" style="border-color: #6AA84F; width:250px ;" type="text" [(ngModel)]="observation.species"
                       [ngModelOptions]="{standalone: true}" name="species"
                       onchange="this.value = this.value.charAt(0).toLowerCase() + this.value.substr(1);"/>
              </label>
            </p>
            <p>
              <label> Description :
                <input class="form-control" placeholder="General description of this species" style="border-color: #6AA84F; width: 450px;height: 150px" type="text" [(ngModel)]="observation.description"
                       [ngModelOptions]="{standalone: true}" name="description"
                       onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>
              </label>
            </p>
            <div style="display: inline-flex">
              <p>
                <label> Day of observation :
                  <input class="form-control" style="border-color: #6AA84F; width: 30px;height: 20px" type="text" [(ngModel)]="observation.day"
                         [ngModelOptions]="{standalone: true}" name="day"
                         onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>
                </label>
              </p>
              <p style="margin-left: 50px">

                <label for="month"> Month of observation :</label>
                  <select style="width: 100px" id="month" class="form-control" type="text" [(ngModel)]="observation.month"
                          [ngModelOptions]="{standalone: true}" name="month"
                          onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);">
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </select>
              </p>
              <p style="margin-left: 50px">
                <label> Year of observation :
                  <input class="form-control" style="border-color: #6AA84F; width: 60px;height: 20px" type="text" [(ngModel)]="observation.year"
                         [ngModelOptions]="{standalone: true}" name="year"
                         onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>
                </label>
              </p>
            </div>

          </div>
        </form>
        <br>
        <button routerLink="/listobservations" class="btn" class="btn btn-success" type=button (click)="submitForm()">Add animal</button>
      </div>
    </form>
  </section>
</div>





