#loupe{
  background-image: url("https://img.icons8.com/windows/32/000000/google-web-search.png");
  background-repeat: no-repeat;width: 30px;height: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.homeBody{
  display: flex;
  justify-content: center;
  position: center;
  text-align: center;
}
h1{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-size: 80px;
  margin-top: 30px;
}
#rip{
  height: 60px;
}
