<div id="headerWelcome">

</div>
<div id="homePage">
  <h1> Welcome to Vaug-Orintho </h1>
  <div class="homeBody">
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Home</button>

      <button routerLink="/listobservations" type="button" class="btn btn-secondary">Observations</button>

      <button routerLink="/new_observation" type="button" class="btn btn-secondary">Add new Observation</button>
      <button type="button" class="btn btn-secondary">Contact</button>
    </div>
  </div>

  <p></p>
  <br>
  <br>
  <p></p>
  <div class="homeBody">
    <img src="http://www.recreanice.fr/sites/default/files/vaugrenier%20heron.jpg" id="homePicture">
  </div>
</div>

